@media (max-width: 700px){
    #navbar {
        .container{
            flex-direction: column;
        }
        ul{
            li{
                margin-left: 0;
                padding: 15px;
            }
        }
    }

    #features {
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
}
}