@use 'mobile';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


$primary-color: #ea6e00;
$font-stack: 'Montserrat', sans-serif;

//Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//sass --watch scss/style.scss css/style.css
html, body {
    font-family: $font-stack;
}

h1{
    font-size: 3rem;
    font-weight: 300;
}

h4{
    font-size: 1.5rem;
}

p{
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.9em;
}

a{
    text-decoration: none;
}

//Utility Classes
.container {
    margin: auto;
    max-width: 1300px;
    padding: 0 20px;
}

.large {
    font-size: 20px;
    font-weight: 200;
}

.display-1{
    font-size: 4.5rem;
}

.bk-primary{
    background: $primary-color;
}

.bk-dark{
    background: #000;
}

.btn {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    padding: 12px 23px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    &-light{ //es lo mismo que .btn-light
        background-color: #fff;
        color: #000;
    }
    &-dark{
        background-color: #000;
        color: #fff;
    }
}

#navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .logo img {
            height: 50px;
        }
    }
    ul{
        display: flex;
        list-style: none;
        li{
            margin-left: 40px;
            text-transform: uppercase;
            a{
                color: #000;
            }
        }
    }
}

#showcase{
    padding: 20px 0;
    color: #fff;
    .bk-primary{
        padding: 40px 80px;
        p{
            padding: 10px 0;
        }
    }
}

#features {
    .container{
        display: grid;
        padding: 20px 0;
        grid-template-columns: repeat(2, 1fr);
        img{
            width: 100%;
        }
    }
}

#mainfooter{
    .container{
        text-align: center;
        padding: 30px;
    }
}